@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@keyframes opa {
  from { opacity: 0; }
  to { opacity: 1; }
}

.grid-container{
  animation: opa 10s linear ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-a{
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}
.item-b{
  grid-column: 2 / span 2;
  grid-row: 1 / span 4;
  text-align: right;
}
.item-c{
  padding-top: 30px;
  grid-column: 1 / span 3;
  grid-row: 5 / span 1;
}


.item-c{
  display: flex;
  align-items: baseline ;
  justify-content: space-evenly;
}
.item-c > div > h3{
  font-size: 15px;
}
.item-c > div > p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  letter-spacing: -1px;
}
.item-c > div > img{
  height: 40px;
  margin: 8px 0px 4px 0px;
}
.item-c > div{
  text-align: center;
}